@{

    Layout = "_mioLayout";

}

<body>
    <div class = "row justify-content-center mb-5">
        <div class= "col-6">
            <img src="https://toolset.mrw.it/temp/logo_6025df08d061d04ce6af7fe531ad86db.png" class="card-img-top" alt="primaFoto">
        </div>

    </div>

     <div class="row text-center justify-content-center">
                <div class="col-3">
                    <div class="card shadow mb-5 bg-body rounded">
                        <img class="img-fluid" src="https://www.scattidigusto.it/wp-content/uploads/2020/09/pizza-margherita-Diametro-33-Napoli-1568x1045.jpg" class="card-img-top" alt="primaFoto">
                        <div class="card-body p-0 pb-0">
                            <h6 class="card-title text-uppercase bg-danger pb-2 pt-2 text-white ">La margherita</h6>
                            <p class="card-text ps-2 pe-2 mb-4 mt-3"><small>Pizza classica a base di pomodoro , mozzarella e basilico igp</small></p>
                        </div>
                            <ul class="list-group list-group-flush pb-0 mb-2">
                                <li class="list-group-item text-danger"><small>Prezzo:</small><br><span class="text-black fw-bold"><small>8,00€</small></span><span class="text-secondary"></span></p></li> 
                            </ul>    
                    
                    </div>
                </div>

                <div class="col-3">
                    <div class="card shadow mb-5 bg-body rounded">
                        <img class="img-fluid" src="https://usercontent.one/wp/www.fornellidistagione.com/wp-content/uploads/2021/06/pizza-boscaiola-1-2048x1365.jpg?media=1647952691" class="card-img-top" alt="primaFoto">
                    <div class="card-body p-0 pb-0">
                        <h6 class="card-title text-uppercase bg-success pb-2 pt-2 text-white ">La boscaiola</h6>
                        <p class="card-text ps-2 pe-2 mb-4 mt-3"><small>Pizza bianca con base mozzarella, salsiccia e funghi</small></p>
                    </div>
                    <ul class="list-group list-group-flush pb-0 mb-2">
                        <li class="list-group-item text-success"><p><small>Prezzo:</small><br><span class="text-black fw-bold"><small>9,00€</small></span><span class="text-secondary"></p></li>
                    </ul>    
                    
                    </div>
                </div>
               
                <div class="col-3">
                    <div class="card shadow mb-5 bg-body rounded">
                        <img class="img-fluid" src="https://i2.wp.com/www.50toppizza.it/wp-content/uploads/2020/06/102871168_818983905291884_5930790195292418392_o.jpg?fit=2048%2C1365&ssl=1" class="card-img-top" alt="primaFoto">
                    <div class="card-body p-0 pb-0">
                        <h6 class="card-title text-uppercase bg-danger pb-2 pt-2 text-white ">La marinara</h6>
                        <p class="card-text ps-2 pe-2 mb-4 mt-3"><small>Pizza base rossa con alici del cantabrico , orignano e olio d'oliva</small></p>
                    </div>
                    <ul class="list-group list-group-flush pb-0 mb-2">
                        <li class="list-group-item text-danger"><p><small>Prezzo</small><br><span class="text-black fw-bold"><small>7,00€</small></span><span class="text-secondary"></span></p></li> 
                    </ul>    
                    
                    </div>
                </div>

                <div class="col-3">
                    <div class="card shadow mb-5 bg-body rounded">
                        <img class="img-fluid" src="https://www.silviocicchi.com/pizzachef/wp-content/uploads/2015/03/d2.jpg" class="card-img-top" alt="primaFoto">
                    <div class="card-body p-0 pb-0">
                        <h6 class="card-title text-uppercase bg-danger pb-2 pt-2 text-white ">La diavola</h6>
                        <p class="card-text ps-2 pe-2 mb-4 mt-3"><small>Pizza base rossa con Nduja e salame piccante</small></p>
                    </div>
                    <ul class="list-group list-group-flush pb-0 mb-2">
                        <li class="list-group-item text-danger"><p><small>Prezzo:</small><br><span class="text-black fw-bold"><small>9,00€</small></span><span class="text-danger"></p></li>
                    </ul>    
                    
                    </div>
                </div>

          </div>

</body>